body {
  margin: 0;
  background: #f1f1f1;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  line-height: 0;
}
/*
#three {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
} */

#three canvas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

iframe {
  outline: none;
  border: none;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}